name: Build and Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4
    - name: Use Node.js 
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'
    - name: Install node modules
      run: npm install
    - name: Start the Backend
      run: npm run start-be
    - name: Start the FrontEnd
      run: npm run start-fe
    - name: Run Playwright UI tests
      run: npm run test
